In [23]:
import os
import csv

In [24]:
import pandas as pd

In [25]:
file=pd.read_csv("Column_Tags.csv")

In [26]:
csvpath ="Column_Tags.csv"

In [27]:
with open(csvpath) as csvfile:

    # CSV reader specifies delimiter and variable that holds contents
    csvreader = csv.reader(csvfile, delimiter=',')
    
    print(csvreader)
    
    csv_header = next(csvreader)
    print(f"CSV Header: {csv_header}")

    for row in csvreader:
        print(row)

<_csv.reader object at 0x000002517AF46640>
CSV Header: ['ï»¿tags', '', '', '', '', '', '', '']
["[' Business trip ', ' Solo traveler ', ' Double Room ', ' Stayed 2 nights ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Double Hilton Deluxe Room ', ' Stayed 1 night ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Group ', ' Double or Twin Room ', ' Stayed 3 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Executive Twin Room with Access to The Level Lounge ', ' Stayed 5 nights ']", '', '', '', '', '', '', '']
["[' Business trip ', ' Solo traveler ', ' Standard Room ', ' Stayed 2 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Family with older children ', ' Deluxe Double and Single Room ', ' Stayed 3 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Standard Double Room ', ' Stayed 2 nights ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Couple ', ' Classic Studio ', ' Stayed 2 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Family with older children ', ' Double Room ', ' Stayed 3 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Deluxe King Room with River View ', ' Stayed 6 nights ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Duplex Double Room ', ' Stayed 6 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Chambers Junior Suite with Club Lounge Access ', ' Stayed 1 night ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Group ', ' Deluxe Twin Room ', ' Stayed 1 night ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Twin Room ', ' Stayed 1 night ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Family with older children ', ' 2 rooms ', ' Stayed 3 nights ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Family with young children ', ' Club Eiffel Tower King Room ', ' Stayed 1 night ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Small Queen Room ', ' Stayed 3 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Family with young children ', ' Standard Room ', ' Stayed 2 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Superior Double Room ', ' Stayed 3 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Solo traveler ', ' Studio ', ' Stayed 4 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Solo traveler ', ' Twin Room ', ' Stayed 1 night ']", '', '', '', '', '', '', '']
["[' Business trip ', ' Couple ', ' Superior Queen Room ', ' Stayed 3 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Double Room ', ' Stayed 2 nights ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Family with young children ', ' Junior Double Room ', ' Stayed 3 nights ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Solo traveler ', ' Double Room 1 2 Adults ', ' Stayed 4 nights ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Standard Double or Twin Room ', ' Stayed 2 nights ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Deluxe Double Room ', ' Stayed 1 night ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Business trip ', ' Solo traveler ', ' Superior Double Room ', ' Stayed 1 night ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Solo traveler ', ' Executive King Room ', ' Stayed 2 nights ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Family with young children ', ' King Guest Room ', ' Stayed 1 night ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Standard Double Room ', ' Stayed 4 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Family with young children ', ' Classic Double or Twin Room ', ' Stayed 3 nights ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Couple ', ' Dorsett Double Room ', ' Stayed 1 night ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Classic Double Room ', ' Stayed 5 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Double or Twin Room ', ' Stayed 7 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Family with young children ', ' Club Double or Twin Room ', ' Stayed 3 nights ']", '', '', '', '', '', '', '']
["[' Business trip ', ' Solo traveler ', ' Comfort Single Room ', ' Stayed 2 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Group ', ' Superior Double or Twin Room ', ' Stayed 1 night ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Family with older children ', ' King Duplex Suite ', ' Stayed 2 nights ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Business trip ', ' Solo traveler ', ' Classic Double or Twin Room ', ' Stayed 3 nights ']", '', '', '', '', '', '', '']
["[' Business trip ', ' Couple ', ' Superior King Room ', ' Stayed 2 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Wonderful Double or Twin Room ', ' Stayed 2 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Junior Suite ', ' Stayed 2 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Superior Double Room ', ' Stayed 3 nights ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Family with young children ', ' King Hilton Guest Room ', ' Stayed 1 night ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Group ', ' Superior Queen Room ', ' Stayed 1 night ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Solo traveler ', ' Single Room ', ' Stayed 2 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Queen Room ', ' Stayed 1 night ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' 2 rooms ', ' Stayed 1 night ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Deluxe Double Room ', ' Stayed 2 nights ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Business trip ', ' Couple ', ' Standard Queen Room ', ' Stayed 5 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Small Double Room ', ' Stayed 1 night ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Family with young children ', ' Classic Twin Room ', ' Stayed 2 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Deluxe Double Room ', ' Stayed 4 nights ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Business Studio Suite ', ' Stayed 1 night ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Group ', ' 2 rooms ', ' Stayed 4 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Executive Double or Twin Room ', ' Stayed 2 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Family with young children ', ' Studio King Family ', ' Stayed 3 nights ']", '', '', '', '', '', '', '']
["[' Business trip ', ' Family with young children ', ' Superior Room with Queen Bed and Sofa ', ' Stayed 4 nights ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Deluxe Double ', ' Stayed 2 nights ']", '', '', '', '', '', '', '']
["[' Business trip ', ' Solo traveler ', ' Executive Double Room ', ' Stayed 3 nights ']", '', '', '', '', '', '', '']
["[' Business trip ', ' Group ', ' Twin Room ', ' Stayed 2 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Family with young children ', ' Deluxe King Room ', ' Stayed 3 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Group ', ' Standard Double Room ', ' Stayed 1 night ']", '', '', '', '', '', '', '']
["[' Business trip ', ' Family with young children ', ' Executive Double Room ', ' Stayed 4 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Solo traveler ', ' Family Room ', ' Stayed 3 nights ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Business trip ', ' Family with young children ', ' Superior Double Room ', ' Stayed 5 nights ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Solo traveler ', ' Superior Double Room ', ' Stayed 2 nights ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' King Hilton Guest Room ', ' Stayed 1 night ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Solo traveler ', ' Single Room ', ' Stayed 2 nights ']", '', '', '', '', '', '', '']
["[' Solo traveler ', ' Single Room with Free Airport Shuttle Service from 5 00am to 00 30am ', ' Stayed 1 night ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Group ', ' Club Double Room ', ' Stayed 3 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Superior Double Room ', ' Stayed 1 night ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Small Double Room ', ' Stayed 6 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Family with young children ', ' Double or Twin Room ', ' Stayed 3 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Solo traveler ', ' Double or Twin Room 1 2 Adults ', ' Stayed 4 nights ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Family with young children ', ' Family Room ', ' Stayed 2 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Group ', ' Superior Double or Twin Room ', ' Stayed 3 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Solo traveler ', ' Superior King Room ', ' Stayed 1 night ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Family with young children ', ' 2 rooms ', ' Stayed 3 nights ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Family with young children ', ' Master Suite ', ' Stayed 1 night ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Double or Twin Room 1 2 Adults ', ' Stayed 3 nights ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Standard Twin Room ', ' Stayed 6 nights ']", '', '', '', '', '', '', '']
["[' With a pet ', ' Leisure trip ', ' Couple ', ' Double Room ', ' Stayed 2 nights ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Travelers with friends ', ' Deluxe Triple Room ', ' Stayed 3 nights ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Double Room ', ' Stayed 1 night ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Travelers with friends ', ' Double Room ', ' Stayed 1 night ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Family with young children ', ' Double Room ', ' Stayed 4 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Group ', ' Standard Double Room ', ' Stayed 5 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Executive Room ', ' Stayed 1 night ']", '', '', '', '', '', '', '']
["[' Business trip ', ' Couple ', ' Club Double Room ', ' Stayed 1 night ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Family with older children ', ' Deluxe Twin Room with Spa Access ', ' Stayed 4 nights ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Solo traveler ', ' Double Room ', ' Stayed 15 nights ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Standard Queen Room ', ' Stayed 1 night ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Superior Double Room with Balcony ', ' Stayed 2 nights ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Deluxe Room 1 or 2 people ', ' Stayed 6 nights ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Couple ', ' Double Room ', ' Stayed 2 nights ']", '', '', '', '', '', '', '']
["[' Family with young children ', ' Triple Room ', ' Stayed 1 night ']", '', '', '', '', '', '', '']
["[' Leisure trip ', ' Solo traveler ', ' Double Room 1 Adult ', ' Stayed 5 nights ', ' Submitted from a mobile device ']", '', '', '', '', '', '', '']

In [28]:
#Return a Data Frame 
tags_df = pd.read_csv(csvpath)
tags_df.head()

,tags,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"[' Business trip ', ' Solo traveler ', ' Doubl...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[' Leisure trip ', ' Couple ', ' Double Hilton...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[' Leisure trip ', ' Group ', ' Double or Twin...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[' Leisure trip ', ' Couple ', ' Executive Twi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"[' Business trip ', ' Solo traveler ', ' Stand...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
new_tags_df=tags_df[["tags"]].copy()
new_tags_df

                                                 tags
0   [' Business trip ', ' Solo traveler ', ' Doubl...
1   [' Leisure trip ', ' Couple ', ' Double Hilton...
2   [' Leisure trip ', ' Group ', ' Double or Twin...
3   [' Leisure trip ', ' Couple ', ' Executive Twi...
4   [' Business trip ', ' Solo traveler ', ' Stand...
..                                                ...
94  [' Leisure trip ', ' Couple ', ' Superior Doub...
95  [' Leisure trip ', ' Couple ', ' Deluxe Room 1...
96  [' Leisure trip ', ' Couple ', ' Double Room '...
97  [' Family with young children ', ' Triple Room...
98  [' Leisure trip ', ' Solo traveler ', ' Double...

[99 rows x 1 columns]

In [49]:
new_tags_df["words1"]=new_tags_df["tags"].map(lambda list:list[1:-2].split(",")[0])
new_tags_df["words2"]=new_tags_df["tags"].map(lambda list:list[1:-2].split(",")[1])
new_tags_df["words3"]=new_tags_df["tags"].map(lambda list:list[1:-2].split(",")[2])
new_tags_df["words4"]=new_tags_df["tags"].map(lambda list:list[1:-2].split(",")[-1])
new_tags_df["words1"]=new_tags_df.loc[new_tags_df["words1"].str.contains("trip"),"words1"]
new_tags_df

,tags,words1,words2,words3,words4
0,"[' Business trip ', ' Solo traveler ', ' Doubl...",' Business trip ',' Solo traveler ',' Double Room ',' Submitted from a mobile device
1,"[' Leisure trip ', ' Couple ', ' Double Hilton...",' Leisure trip ',' Couple ',' Double Hilton Deluxe Room ',' Stayed 1 night
2,"[' Leisure trip ', ' Group ', ' Double or Twin...",' Leisure trip ',' Group ',' Double or Twin Room ',' Stayed 3 nights
3,"[' Leisure trip ', ' Couple ', ' Executive Twi...",' Leisure trip ',' Couple ',' Executive Twin Room with Access to The Leve...,' Stayed 5 nights
4,"[' Business trip ', ' Solo traveler ', ' Stand...",' Business trip ',' Solo traveler ',' Standard Room ',' Stayed 2 nights
...,...,...,...,...,...
94,"[' Leisure trip ', ' Couple ', ' Superior Doub...",' Leisure trip ',' Couple ',' Superior Double Room with Balcony ',' Submitted from a mobile device
95,"[' Leisure trip ', ' Couple ', ' Deluxe Room 1...",' Leisure trip ',' Couple ',' Deluxe Room 1 or 2 people ',' Submitted from a mobile device
96,"[' Leisure trip ', ' Couple ', ' Double Room '...",' Leisure trip ',' Couple ',' Double Room ',' Stayed 2 nights
97,"[' Family with young children ', ' Triple Room...",NaN,' Triple Room ',' Stayed 1 night,' Stayed 1 night
98,"[' Leisure trip ', ' Solo traveler ', ' Double...",' Leisure trip ',' Solo traveler ',' Double Room 1 Adult ',' Submitted from a mobile device

In [56]:
trip_count = new_tags_df["words1"].value_counts()
trip_count

' Leisure trip '     80
' Business trip '    14
Name: words1, dtype: int64

In [60]:
guest_count = new_tags_df["words2"].value_counts()
guest_count=guest_count[count>5]

In [61]:
pd.DataFrame(count[count>5])

                                 words2
 ' Couple '                          41
 ' Family with young children '      18
 ' Solo traveler '                   18
 ' Group '                           10

In [66]:
(trip_count.append(guest_count)).to_csv("Temp.csv")